header{
    margin-left: 5rem;
    margin-right: 4rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.pic{
    max-width: 24%;
    max-height: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.space{
    margin-top: 4rem;
    margin-bottom: 4rem;
}